{% extends "base.html" %}
{% block content %}
   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">Smart Underwriter</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/index">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
	    <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Methods<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/expo">Exploratory Analysis</a></li>
		<li><a href="#">Machine Learning</a>
                <!-- <li role="separator" class="divider"></li> -->
                <!-- <li class="dropdown-header">Nav header</li> -->
                <!-- <li><a href="#">Separated link</a></li> -->
                <!-- <li><a href="#">One more separated link</a></li> -->
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
   </nav>
<script language="javascript" type="text/javascript">
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>
       <div class="container">
      <div class="jumbotron text-center">
	<h2>Exploratory Data Analysis</h2>
      </div>
      <div class="row">
	<div class="col-md-12">
	  <iframe src="{{ url_for('static',filename='files/notebook_analysis.html')
	  }}" frameborder="0" scrolling="no"
	  onload="resizeIframe(this)" style="width: 100%;"></iframe>
	</div>
      </div>
{% endblock %}
