{% extends "base.html" %}
{% block content %}
   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">Smart Underwriter</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/index">Home</a></li>
            <li><a href="/index#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
	    <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Methods<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/expo">Exploratory Analysis</a></li>
		<li><a href="/learning">Machine Learning</a>
                <!-- <li role="separator" class="divider"></li> -->
                <!-- <li class="dropdown-header">Nav header</li> -->
                <!-- <li><a href="#">Separated link</a></li> -->
                <!-- <li><a href="#">One more separated link</a></li> -->
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron text-center">
	<h2>Home Mortgage Application Risk Assessment</h2>
      </div>
      <div class="row">
	<div class="col-md-12">
	<form action="/index" method="post" name="input_mortgage_data">
	  <!-- {{ form.csrf_token }}  -->
	  <table class="table table-condensed borderless">
	    <tr>
	      <td>{{form.loan_amount.label}}:</td>
	      <td>{{form.loan_amount(size=10)}}</td>
	    <td>{% for error in form.loan_amount.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</td>
	    </tr>
	    <tr>
	      <td>{{form.buyer_credit.label}}:</td>
	      <td>{{form.buyer_credit()}}</td>
	      <td>{% for error in form.loan_amount.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</td>
	    </tr>
	    <tr>
	    <td>{{form.cobuyer_credit.label}} (if available):</td>
	    <td>{{form.cobuyer_credit()}}</td>
	    <td>{% for error in form.loan_amount.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</td>
	    </tr>
	    <tr>
	      <td>{{form.loan_to_value.label}}:</td>
	      <td>{{form.loan_to_value()}} </td>
	      <td>{% for error in form.loan_amount.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}</td>
	    </tr>
	    <tr>
	      <td>{{form.debt_to_income.label}}:</td>
	      <td>{{form.debt_to_income()}} </td>
	      <td>{% for error in form.loan_amount.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}</td>
	    </tr>
	  </table>
	  <table class="table table-condensed borderless">
	    <tr>
	    <td>{{form.loan_state.label}}:</td>
	    <td>{{form.loan_purpose.label}}:</td>
	    <td>{{form.property_type.label}}:</td>
	    <td>{{form.occupancy_type.label}}:</td>
	    </tr>
	    <tr>
	    <td>{{form.loan_state()}} </td>
	    <td>{{form.loan_purpose()}} </td>
	    <td>{{form.property_type()}} </td>
	    <td>{{form.occupancy_type()}} </td>
	    </tr>
	  </table>
	  <p><input type="submit" class="btn btn-primary" value="Get Loan Prediction"></p>
	</form>
	<div class="{{status}}">
	  <p> This predicted status of this mortgage application
	  is <strong>{{result}}</strong> </p>
	</div>
	
	</div>
      </div>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
     <div class="alert alert-warning">
       <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
       </ul>
        </div>
	{% endif %}
	{% endwith %}


    <div class="container">
      <div class="jumbotron">
	<h3 id="about">About</h3>
	    <p>This model is build on Fannie Mae's data from 2000 to 2012,
	      downloaded
	      from <a href="http://www.fanniemae.com/portal/funding-the-market/data/loan-performance-data.html">Fannie
	      Mae Single Family Housing Data</a>. The data was processed by
	      Python with the help of numpy/scipy, pandas and scikit-learn. You
	      can find the source code
	      in <a href="https://github.com/DigitalPig/SmartUnderwriter">this</a>
	      Github repo.<br></p>
	    <p>&copy; 2016 Zhenqing Li</p>
      </div>
    </div>
{% endblock %}
